.form { 
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.form__textarea {
    width: 600px;
    height: 400px;
    padding: 10px;
    box-shadow: 0 0 5px rgb(84, 104, 104);
    border-radius: 5%;
}